@charset "UTF-8";

/*Tudo q em HTML é id, em CSS é # (só pode um elemento por pag)
em HTML é class em CSS é . (permite vários elementos por pag) 
*/

body{
    background-color: rgb(111, 212, 111);
    font-family: sans-serif;
}
h1{
    color: rgb(5, 112, 5);

}

#principal{
    text-align: center;
    background-color: rgb(5, 112, 5);
    color: white;

}

h2{
    color: rgb(11, 202, 11);

}

.basico{
    color: rgb(11, 202, 11);
}

.intermediario{
    color: rgb(182, 182, 15);
}

.avancado{
    color: rgb(175, 13, 13);
}
.destaque{
    background-color: rgba(194, 194, 25, 0.692);
}