@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 4em;
    padding-top: 50px;
}

header p {
    padding: 10px 0px 50px;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

article {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 2em;
}

article p#p2 {
    color: white;
    background-color: black;
    }

article p#p5 {
    color: white;
    background-color: black;
    }

footer {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

