@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 25px;
}

header p {
    padding: 15px 50px;
}